{% extends 'panel/base.html' %}

{% block title-meta %} | حساب و کتاب{% endblock %}
{% block title %} حساب ها {% endblock %}

{% block main %}
        <div class="row">
          <div id="category-boxes" class="col-12">
            {% if object_list %}
              {% for cat in object_list %}
              <div class="mr-3 col-3 small-box bg-success" style="width:auto; height:8rem;">
                <div class="inner">
                  <h2>{{ cat.title }}</h2>
                </div>
                <div class="icon">
                  <i class="fas fa-sticky-note"></i>
                </div>
              </div>
              {% endfor %}
            {% else %}
              <h3>محتوایی برای نمایش وجود ندارد!</h3>
            {% endif %}
            <div id="add-cat-plus" class="mr-3 col-3 text-center small-box bg-success" style="width:auto; height:8rem;">
              <div class="icon">
                <i id="icon-plus" class="fa fa-plus"></i>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        
{% endblock %}