{% extends 'panel/base.html' %}

{% block title-meta %} | {{ category.title }}  {% endblock %}
{% block title %} {{ category.title }} {% endblock %}

{% block content-header %}
    <div class="col col-lg-2">
        <a href="{% url 'panel:transaction-list' category.pk %}"><button class="btn btn-default button-action active">تراکنش ها</button></a>
        <a href="{% url 'panel:people-list' category.pk %}"><button class="btn btn-default button-people">افراد</button></a>    
    </div>

{% endblock %}

{% block main %}
        <div class="row">
            {% if object_list %}
              {% for person in object_list %}
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h4>{{ person.fullname }}</h4><br>

                      
                      <div class="icon-update-delete">
                        <a href="{% url 'panel:people-update' c_pk=category.pk p_pk=person.pk %}" class="update-icon"><i class="far fa-edit"></i></a>
                        <a href="#" class="delete-icon"><i class="far fa-trash-alt"></i></a>
                      </div>
                    </div>
                    
                    <div class="icon">
                      <i class="fas fa-id-card"></i>
                    </div>
                    <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-left"></i></a>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h4>افزودن یک فرد جدید</h4><br>

                  </div>
                  
                  <div class="icon">
                    <i class="fas fa-user-plus"></i>
                  </div>
                  <a href="{% url 'panel:people-create' category.pk %}" class="small-box-footer"> افزودن <i class="fas fa-user-plus"></i></a>
                </div>
            </div>
            <!-- /.card -->
        </div>
        
        
{% endblock %}