{% extends 'panel/base.html' %}

{% block title-meta %} | {{ category.title }}  {% endblock %}
{% block title %} {{ category.title }} {% endblock %}

{% block content-header %}
    <div class="col col-lg-2">
        <a href="{% url 'panel:transaction-list' category.pk %}"><button class="btn btn-default button-action active">تراکنش ها</button></a>
        <a href="{% url 'panel:people-list' category.pk %}"><button class="btn btn-default button-people">افراد</button></a>    
    </div>

{% endblock %}

{% block main %}
        <div class="row">
            {% if object_list %}
              {% for transaction in object_list %}
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h4>{{ transaction.title }}</h4><br>

                      <p>مبلغ : {{ transaction.amount }} تومان </p>
                      <p>پرداخت کننده : {{ transaction.payer }}</p>
                      <p>افراد : {% for person in transaction.people.all %}{{ person }}, {% endfor %}</p>
                      <div class="icon-update-delete">
                        <a href="{% url 'panel:transaction-update' c_pk=category.pk tr_pk=transaction.pk %}" class="update-icon"><i class="far fa-edit"></i></a>
                        <a href="{% url 'panel:transaction-delete' c_pk=category.pk tr_pk=transaction.pk %}" class="delete-icon"><i class="far fa-trash-alt"></i></a>
                      </div>
                    </div>
                    
                    <div class="icon">
                      <i class="fas fa-file-invoice"></i>
                    </div>
                    <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-left"></i></a>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h4>ایجاد یک تراکنش جدید</h4><br>

                  </div>
                  
                  <div class="icon">
                    <i class="fas fa-file-invoice"></i>
                  </div>
                  <a href="{% url 'panel:transaction-create' pk=category.pk %}" class="small-box-footer"><i class="fas fa-plus"></i></a>
                </div>
            </div>
            <!-- /.card -->
        </div>
        
        
{% endblock %}